

<div class="container mt-4">
    <form method="get" class="row g-2 mb-3">
  <div class="col-md-2">
    <select name="mois_recap" class="form-select">
      <option value="">Mois</option>
      {% for i, m in mois_list %}
      <option value="{{ i }}" {% if mois_selectionne == i %}selected{% endif %}>{{ m }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-3">
    <select name="type_recap" class="form-select">
      <option value="">Type d'absence</option>
      {% for t in types %}
      <option value="{{ t.id }}">{{ t.nom }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-3">
    <select name="collab_recap" class="form-select">
      <option value="">Collaborateur</option>
      {% for p in collaborateurs %}
      <option value="{{ p.user.id }}">{{ p.user.get_full_name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-2">
    <select name="statut_recap" class="form-select">
      <option value="">Statut</option>
      {% for key, label in statuts %}
      <option value="{{ key }}">{{ label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="col-md-2">
    <button class="btn btn-primary w-100">Filtrer</button>
  </div>
</form>

<h5 class="mt-4">📋 Récapitulatif absences & récupérations à partir d’aujourd’hui</h5>

<button class="btn btn-secondary mb-3" onclick="window.print()">
  🖨️ Imprimer
</button>

<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>Collaborateur</th>
      <th>Type de demande</th>
      <th>Type d'absence</th>
      <th>Date début</th>
      <th>Date fin</th>
      <th>Jours</th>
      <th>Statut</th>
    </tr>
  </thead>
  <tbody>
    {% for d in donnees %}
    <tr>
      <td>
        {% if d.type_demande == "Absence" %}
          {{ d.collaborateur.get_full_name }}
        {% else %}
          {{ d.utilisateur.get_full_name }}
        {% endif %}
      </td>
      <td>{{ d.type_demande }}</td>
      <td>{{ d.type_absence.nom|default:"-" }}</td>
      <td>{{ d.date_debut }}</td>
      <td>{{ d.date_fin_calculee }}</td>
      <td>{{ d.nombre_jours }}</td>
      <td>{{ d.get_statut_display }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7" class="text-center">Aucune donnée</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>

